<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kafka tool</title>
    <link href="/layui/layui.css" rel="stylesheet">
</head>
<body style="padding: 20px">
<div class="layui-form">
    <label class="layui-form-label">选择集群</label>
    <div class="layui-input-inline">
        <label id="cluster-select"></label>
    </div>
    <div style="float: right">
        <button class="layui-btn" id="add-cluster-btn" type="button">添加集群</button>
    </div>
</div>
<br/>
<div class="layui-tab">
    <ul class="layui-tab-title">
        <li class="layui-this">Topics</li>
        <li>Consumers</li>
        <li>Brokers</li>
    </ul>
    <div class="layui-tab-content">

        <!-- topic -->
        <div class="layui-tab-item layui-show">

            <div class="layui-col-sm2">
                <div>
                    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="topic-nav">
                        <li class="layui-nav-item layui-nav-itemed">
                            <dl style="text-align: center">Topics</dl>
                            <dl class="layui-nav-child" id="topic-list"></dl>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="layui-col-sm8">
                <table class="layui-table" lay-even="" lay-skin="row">
                    <thead>
                    <tr>
                        <th>topic</th>
                        <th>partition</th>
                        <th>offset</th>
                        <th>replicas</th>
                        <th>leader</th>
                    </tr>
                    </thead>
                    <tbody id="topic-detail-table"></tbody>
                </table>
            </div>
        </div>

        <!-- consumer -->
        <div class="layui-tab-item">
            <div class="layui-col-sm2">
                <div>
                    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="consumer-nav">
                        <li class="layui-nav-item layui-nav-itemed">
                            <dl style="text-align: center;">Consumers</dl>
                            <dl class="layui-nav-child" id="consumer-list"></dl>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="layui-col-sm8">
                <table class="layui-table" lay-even="" lay-skin="row">
                    <thead>
                    <tr>
                        <th>consumer</th>
                        <th>topic</th>
                        <th>partition</th>
                        <th>offset</th>
                        <th>logSize</th>
                        <th>lag</th>
                    </tr>
                    </thead>
                    <tbody id="consumer-topic-table"></tbody>
                </table>
            </div>
        </div>

        <!-- broker -->
        <div class="layui-tab-item">
            <table class="layui-table" lay-even="" lay-skin="row">
                <thead>
                <tr>
                    <th>id</th>
                    <th>host</th>
                    <th>port</th>
                </tr>
                </thead>
                <tbody id="brokers-table"></tbody>
            </table>
        </div>
    </div>
</div>
<div id="add-cluster-div" style="display: none">
    <form class="layui-form" style="padding-top: 5%">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 15%">集群名</label>
            <div class="layui-input-block" style="margin-left: 20%;margin-right: 15%">
                <label>
                    <input autocomplete="off" class="layui-input" name="clusterName" placeholder="" type="text">
                </label>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 15%">Bootstrap Servers</label>
            <div class="layui-input-block" style="margin-left: 20%;margin-right: 15%">
                <label>
                    <input autocomplete="off" class="layui-input" name="bootstrapServers" placeholder="" type="text">
                </label>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="float: right; margin-right: 15%; margin-top: 5%;">
                <button class="layui-btn layui-btn-primary" type="reset">重置</button>
                <button class="layui-btn layui-btn-normal" lay-filter="addClusterFilter" lay-submit>确 定</button>
            </div>
        </div>
    </form>
</div>
<script src="/layui/layui.all.js"></script>
<script src="/index.js"></script>
</body>
</html>