<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kafka tool</title>
    <link href="/layui/layui.css" rel="stylesheet">
</head>
<body style="padding: 20px; background-color: #F2F2F2;">
<div>
    <form action="" class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">Zookeeper地址</label>
            <div class="layui-input-inline">
                <label>
                    <input autocomplete="off" class="layui-input" name="title" type="text">
                </label>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Bootstrap servers</label>
            <div class="layui-input-inline">
                <label>
                    <input autocomplete="off" class="layui-input" name="title" type="text">
                </label>
            </div>
        </div>
    </form>
</div>
<script src="/layui/layui.all.js"></script>
<script src="/index.js"></script>
</body>
</html>