<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kafka tool</title>
    <link href="/layui/layui.css" rel="stylesheet">
</head>
<body style="padding: 20px">
<div class="layui-form">
    <label class="layui-form-label">选择集群</label>
    <div class="layui-input-inline">
        <label id="cluster-select"></label>
    </div>
    <div style="float: right;padding: 10px">
        <button class="layui-btn" id="add-cluster-btn" type="button">添加集群</button>
    </div>
</div>
<br/>
<div class="layui-tab">
    <ul class="layui-tab-title">
        <li class="layui-this">Topics</li>
        <li>Consumers</li>
        <li>Brokers</li>
        <li>Offset监控</li>
        <li>监控管理</li>
    </ul>
    <div class="layui-tab-content">

        <!-- topic -->
        <div class="layui-tab-item layui-show">

            <div class="layui-col-sm3" style="width: 25%;float: left">
                <div>
                    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="topic-nav" style="width: 90%">
                        <li class="layui-nav-item layui-nav-itemed">
                            <dl style="text-align: center">Topics</dl>
                            <dl class="layui-nav-child" id="topic-list"></dl>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="layui-col-sm7" style="width: 75%;float: right">
                <table class="layui-table" lay-even="" lay-skin="row">
                    <thead>
                    <tr>
                        <th>topic</th>
                        <th>partition</th>
                        <th>offset</th>
                        <th>replicas</th>
                        <th>leader</th>
                    </tr>
                    </thead>
                    <tbody id="topic-detail-table"></tbody>
                </table>
                <br/>
                <hr/>
                <br/>
                <form class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-input-inline" style="display: none">
                            <label>
                                <input id="load-message-topic" name="topic">
                            </label>
                        </div>
                        <label class="layui-form-label" style="width: 30px; padding-left: 0">分区</label>
                        <div class="layui-input-inline">
                            <label>
                                <select id="load-message-partition-select" lay-search name="partition">
                                    <option value="">选择分区</option>
                                </select>
                            </label>
                        </div>
                        <label class="layui-form-label">Offset范围</label>
                        <div class="layui-input-inline" style="width: 90px">
                            <label>
                                <input autocomplete="off" class="layui-input" name="startOffset" type="number">
                            </label>
                        </div>
                        <div class="layui-input-inline" style="width: 10px;padding-top: 10px">
                            --
                        </div>
                        <div class="layui-input-inline" style="width: 90px">
                            <label>
                                <input autocomplete="off" class="layui-input" name="endOffset" type="number">
                            </label>
                        </div>
                        <div class="layui-input-inline" style="padding-left: 50px">
                            <button class="layui-btn layui-btn-normal" id="load-message-btn"
                                    lay-filter="load-message" lay-submit>加载数据
                            </button>
                        </div>
                        <div style="float: right">
                            <button class="layui-btn" id="produce-message" type="button">生产消息</button>
                        </div>
                    </div>
                </form>
                <table id="topic-message-table"></table>
<!--                <table class="layui-table" lay-even="" lay-skin="row">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th style="width: 10%">topic</th>-->
<!--                        <th style="width: 5%">partition</th>-->
<!--                        <th style="width: 5%">offset</th>-->
<!--                        <th style="width: 15%">key</th>-->
<!--                        <th style="width: 45%">message</th>-->
<!--                        <th style="width: 5%">timestamp</th>-->
<!--                        <th style="width: 20%">时间</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody id="topic-message-table"></tbody>-->
<!--                </table>-->
            </div>
        </div>

        <!-- consumer -->
        <div class="layui-tab-item">
            <div class="layui-col-sm3" style="width: 25%;float: left">
                <div>
                    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="consumer-nav" style="width: 90%">
                        <li class="layui-nav-item layui-nav-itemed">
                            <dl style="text-align: center;">Consumers</dl>
                            <dl class="layui-nav-child" id="consumer-list"></dl>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="layui-col-sm7" style="width: 75%;float: right">
                <div>
                    <table id="consumer-offsets-table" lay-filter="consumer-offsets-table-filter"></table>
                </div>
            </div>
        </div>

        <!-- broker -->
        <div class="layui-tab-item">
            <table class="layui-table" lay-even="" lay-skin="row">
                <thead>
                <tr>
                    <th>id</th>
                    <th>host</th>
                    <th>port</th>
                </tr>
                </thead>
                <tbody id="brokers-table"></tbody>
            </table>
        </div>

        <!-- Offset监控 -->
        <div class="layui-tab-item">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 50px">消费者</label>
                    <div class="layui-input-inline">
                        <label>
                            <select id="show-monitor-consumer-select" lay-search name="consumer">
                                <option value="">选择消费者</option>
                            </select>
                        </label>
                    </div>
                    <label class="layui-form-label" style="width: 40px">Topic</label>
                    <div class="layui-input-inline">
                        <label>
                            <select id="show-monitor-topic-select" lay-search name="topic">
                                <option value="">选择Topic</option>
                            </select>
                        </label>
                    </div>
                    <label class="layui-form-label" style="width: 62px">时间范围</label>
                    <div class="layui-input-inline" style="width: 300px">
                        <label>
                            <input class="layui-input" id="show-monitor-time-range" name="timeRange"
                                   placeholder="时间范围" type="text">
                        </label>
                    </div>
                    <label class="layui-form-label" style="width: 82px">时间间隔(秒)</label>
                    <div class="layui-input-inline" style="width: 70px">
                        <label>
                            <input autocomplete="off" class="layui-input" name="interval" type="number">
                        </label>
                    </div>
                    <div class="layui-input-inline" style="width: 80px; margin-right: 0">
                        <button class="layui-btn layui-btn-normal" lay-filter="show-monitor" lay-submit>确 定</button>
                    </div>
                </div>
            </form>
            <div id="monitor-chart" style="width: 1400px;height:600px;"></div>
        </div>

        <!--    监控管理    -->
        <div class="layui-tab-item">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 50px">消费者</label>
                    <div class="layui-input-inline">
                        <label>
                            <select id="manage-monitor-consumer-select" lay-search name="consumer">
                                <option value="">选择消费者</option>
                            </select>
                        </label>
                    </div>
                    <label class="layui-form-label" style="width: 40px">Topic</label>
                    <div class="layui-input-inline">
                        <label>
                            <select id="manage-monitor-topic-select" lay-search name="topic">
                                <option value="">选择Topic</option>
                            </select>
                        </label>
                    </div>
                    <div class="layui-input-inline" style="width: 80px; margin-right: 0">
                        <button class="layui-btn layui-btn-normal" lay-filter="manage-monitor-select" lay-submit>搜 索
                        </button>
                    </div>
                    <div style="float: right">
                        <button class="layui-btn" id="add-monitor-btn" type="button">添加监控</button>
                    </div>
                </div>
            </form>
            <div>
                <table id="monitor-task-table"></table>
            </div>
        </div>
    </div>
</div>
<div id="add-cluster-div" style="display: none">
    <form class="layui-form" style="padding-top: 5%">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 20%">集群名</label>
            <div class="layui-input-block" style="margin-left: 26%;margin-right: 12%">
                <label>
                    <input autocomplete="off" class="layui-input" name="clusterName" placeholder="" type="text">
                </label>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 20%">Bootstrap Servers</label>
            <div class="layui-input-block" style="margin-left: 26%;margin-right: 12%">
                <label>
                    <input autocomplete="off" class="layui-input" name="bootstrapServers" placeholder="" type="text">
                </label>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="float: right; margin-right: 15%; margin-top: 5%;">
                <button class="layui-btn layui-btn-primary" type="reset">重置</button>
                <button class="layui-btn layui-btn-normal" lay-filter="add-cluster-filter" lay-submit>确 定</button>
            </div>
        </div>
    </form>
</div>
<div id="add-monitor-div" style="display: none">
    <form class="layui-form" style="padding-top: 5%">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 20%">消费者</label>
            <div class="layui-input-block" style="margin-left: 26%;margin-right: 12%">
                <label>
                    <select id="add-monitor-consumer-select" lay-search name="consumer">
                        <option value="">选择消费者</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 20%">Topic</label>
            <div class="layui-input-block" style="margin-left: 26%;margin-right: 12%">
                <label>
                    <select id="add-monitor-topic-select" lay-search name="topic">
                        <option value="">选择Topic</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 20%">时间间隔(秒)</label>
            <div class="layui-input-block" style="margin-left: 26%;margin-right: 12%">
                <label>
                    <input autocomplete="off" class="layui-input" name="interval" placeholder="时间间隔" type="number">
                </label>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="float: right; margin-right: 15%; margin-top: 5%;">
                <button class="layui-btn layui-btn-primary" type="reset">重置</button>
                <button class="layui-btn layui-btn-normal" lay-filter="add-monitor-filter" lay-submit>确 定</button>
            </div>
        </div>
    </form>
</div>
<div id="produce-message-div" style="display: none">
    <form class="layui-form" lay-filter="produce-message-form-filter" style="padding-top: 5%">
        <div class="layui-form-item">
            <label class="layui-form-label">Topic</label>
            <div class="layui-input-block" style="margin-right: 5%">
                <label>
                    <input autocomplete="off" class="layui-input" disabled="disabled" name="topic">
                </label>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">key</label>
            <div class="layui-input-block" style="margin-right: 5%">
                <label>
                    <input autocomplete="off" class="layui-input" name="key">
                </label>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">message</label>
            <div class="layui-input-block" style="margin-right: 5%">
                <label>
                    <textarea class="layui-textarea" name="message"></textarea>
                </label>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="float: right; margin-right: 15%; margin-top: 5%;">
                <button class="layui-btn layui-btn-normal" lay-filter="produce-message-filter" lay-submit>确 定</button>
            </div>
        </div>
    </form>
</div>
<div id="edit-offset-div" style="display: none">
    <form class="layui-form" lay-filter="edit-offset-form-filter" style="padding-top: 5%">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 20%">Consumer</label>
            <div class="layui-input-block" style="margin-left: 26%;margin-right: 12%">
                <label>
                    <input class="layui-input" disabled="disabled" name="consumer">
                </label>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 20%">Topic</label>
            <div class="layui-input-block" style="margin-left: 26%;margin-right: 12%">
                <label>
                    <input class="layui-input" disabled="disabled" name="topic">
                </label>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 20%">Partition</label>
            <div class="layui-input-block" style="margin-left: 26%;margin-right: 12%">
                <label>
                    <input class="layui-input" disabled="disabled" name="partition">
                </label>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 20%">Offset</label>
            <div class="layui-input-block" style="margin-left: 26%;margin-right: 12%">
                <label>
                    <input autocomplete="off" class="layui-input" name="offset" type="number">
                </label>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="float: right; margin-right: 15%; margin-top: 5%;">
                <button class="layui-btn layui-btn-normal" lay-filter="edit-offset-filter" lay-submit>确 定</button>
            </div>
        </div>
    </form>
</div>
<script id="edit-offset-toolbar" type="text/html">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑Offset</a>
</script>
<script src="/layui/layui.all.js"></script>
<script src="/echarts/echarts.min.js"></script>
<script src="/index.js"></script>
</body>
</html>